
/*
    PAGE STYLES
*/

#overall {
    background-image: url("../img/ColdStorage.jpg");
    background-size: 100%;
}

#CoverPage {
    /*background: rgba(250, 250, 250, 0.80);*/
    background: rgba(250, 250, 250, 0.8);
}

#martini-one {
    /*background: rgba(250, 250, 250, 0.85);*/
    background: rgba(250, 250, 250, 0.9);
}

#martini-two {
    /*background: rgba(250, 250, 250, 0.90);*/
    background: rgba(240, 240, 240, 0.95);
}

#martini-three {
    background: rgba(225, 225, 225, 0.96);
}

#martini-four {
    background: rgba(240, 240, 240, 1);
}


#dash-board {
    background: rgba(240, 240, 240, 1);
}

#authors_disclaimer {
    background: rgba(240, 240, 240, 1);
}

.vertical-align {
    display: flex;
    align-items: center;
}

/*
    TEXT STYLES
*/

h1 {
    font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 50px;
    margin-bottom: 1%;
}

h2 {
    font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
    font-weight: lighter;
    font-size: 36px;
    color: #727272;
    margin-bottom: 3%;
}

h3 {
    font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
    font-weight: lighter;
    font-size: 16px;
    color: #555555;
}

h4 {
    font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: justify;
    font-weight: 100;
    font-size: 16px;
    color: #000000;
    margin-right: 35%;
    margin-left: 35%;
    margin-bottom: 3%;
    font-style: italic;
}

h5 {
    font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.harvard_icon {
    display: block;
    margin: auto;
    max-width: 150px;
}

/*
    AUTHOR PAGE
 */
.author_img {
    max-width: 200px;
    padding: 10px;
    border-radius: 20px;
}

.author_text {
    font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: left;
    color: #616161;
    font-size: 24px;
}

.disclaimer {
    font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
    font-weight: 100;
    font-size: 16px;
    color: #6e6e6e;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 3%;
    font-style: italic;
}

/*
    STORYTELLING ETC.
*/

.StoryTellingSVG {
    width: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

/*
    Explore page
*/

.explore_img {
    max-width: 275px;
    padding: 3px;
}


/*
    BUTTONS ETC.
*/

.btn-txt {
    font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    /*font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;*/

    font-weight: bold;
    margin-bottom: -10px;
}

.btn-circle {
    font-size: 26px;
    width: 55px;
    height: 55px;
    margin-top: 15px;
    line-height: 45px;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
    color: black;
    border: 2px solid black;
    border-radius: 100% !important;
    background: transparent; }
.btn-circle:focus, .btn-circle:hover {
    color: black;
    outline: none;
    background: rgba(0, 0, 0, 0.36); }

.button-container {
    text-align: center;
}


/*
    DASHBOARD COMPONENTS
*/

.linker
{
    font-size : 20px;
    font-color: black;
}

#myProgress {
    width: 100%;
    background-color: grey;
}
#myBar {
    width: 0;
    height: 3px;
    background-color: #000000;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.browser text {
    text-anchor: end;
}

.area {
    opacity: 0.7;
    clip-path: url(#clip);
}
.area:hover {
    opacity: 1;
}

.brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}

button#normalize{
    font-size : 10px;
    margin: 25px;
    margin-bottom: 0px;

}

#tooltip{
    margin-left:80px;
}

/*.framed {
    border: thin solid black;
}*/
